body {
  background-color: #f1f1f1;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
  background-color: mediumaquamarine;
}

input {
  border: 1px solid gray;
}

form button {
  border: 1px solid gray;
  border-radius: 50px;
}
